{% block subject %}
    New file
{% endblock %}

{% block body %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>New file</title>
    </head>
    <body>
        <h1>{{ block('subject') }}</h1>
        <main>
            {% set url = url('download', {
                'id': file.id,
                'filename': file.path
            }) %}

            <p>Download file: <a href="{{ url }}">{{ url }}</a></p>
        </main>
    </body>
</html>
{% endblock %}
